<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: hot-sauce-navigation"></nav>

<p th:unless="${hotSauces} and ${hotSauces.size()}"}>It seems like you are yet to get Sauced!</p>

<table class = "table">
    <tr>
        <th>Brand: </th>
        <th>Name: </th>
        <th>Description: </th>
    </tr>

    <tr th:each="hotSauce : ${hotSauces}">
        <td th:text="${hotSauce.brand}"></td>
        <td th:text="${hotSauce.name}"></td>
        <td th:text="${hotSauce.description}"></td>
    </tr>

</table>


</body>
</html>