<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: hot-sauce-navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${searchForm}">

    <h2>Search: </h2>

    <div class="form-group">
        <label>Search By: </label>
            <ul th:each="searchBy : *{searchCategories}">
                <input type="radio"
                       th:field="*{searchBy}"
                       th:value="${searchBy}"
                       th:checked="${searchCategories == searchBy}" />
                <label th:for="${#ids.prev('searchBy')}"
                       th:text="${searchBy}">

                </label>
            </ul>
    </div>

    <div class="form-group">
        <label th:for="searchTerm">Please type a Search Term: </label>
        <input class="form-control" th:field="*{searchTerm}" />
        <span th:errors="*{searchTerm}" class="error"></span>
    </div>

    <input type="submit" value="Search" />

</form>

</body>
</html>